@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');



body {
	padding: 0;
	margin: 0;
	background-color: #666;
	background-image: url('../img/flatmosphere-no-star.jpg');
	/*background-position: 0px 100px;
	background-repeat: no-repeat; */
}

video{
	postion: relative;
	width: 100%;
	display: inline-block;
	border:  solid 2px #333;
	border-radius: 10px;

}

.framework {

position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background:linear-gradient(90deg, rgba(58, 85, 122, 0.6) 0%, rgba(210, 217, 218, 0.6) 50%, rgba(79, 106, 109, 0.6) 100%);	
}

.parent {
display: grid;
grid-template-columns: 5% 1fr 2% 1fr 5%;
grid-template-rows: 10% repeat(2, 1fr) 10%;
grid-column-gap: 3px;
grid-row-gap: 10px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.header { grid-area: 1 / 1 / 2 / 6; }
.gutterleft { grid-area: 2 / 1 / 4 / 2; }
.inboundprogram { grid-area: 2 / 2 / 3 / 3; }
.pillarmiddle { grid-area: 2 / 3 / 4 / 4; }
.outboundprogram { grid-area: 2 / 4 / 3 / 5; }
.gutterright { grid-area: 2 / 5 / 4 / 6; }
.inboundcontrols { grid-area: 3 / 2 / 4 / 3; }
.outboundcontrols { grid-area: 3 / 4 / 4 / 5; }
.footer { grid-area: 4 / 1 / 5 / 6; }


.header {

}
	.header img {height: 50px; padding-top: 20px;}


.gutterleft {

}

.inboundprogram {

}

.pillarmiddle {

}

.outboundprogram {

}

.gutterright {

}

.inboundcontrols {

}

.outboundcontrols {

}

.footer {

}

/* Indicator Lights */

#statusindicator{
	padding: 20px;
}

.red {
	background-color: #dc3838;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* CONTROLS */
.controlsType{
font-family: 'Roboto', Helvetica, sans-serif;
font-weight: bold;
font-size: 30px;
color: #121212;
text-align: center;
letter-spacing: 2px;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3), 0px -2px 5px rgba(255,255,255,0.3);
padding: 10px;
}

.inboundControls
{

}




.outboundControls
{


}

.videoControls {
  width:  100%;
  height: 50px;
  background-color: #333;
  cursor:  pointer;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
   background-image: linear-gradient(180deg, #333 0%, #000 127%); */
  background: rgba(255,255,255,0.3);
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
}

.inbound_session_btns{
cursor:  pointer;

}

.outbound_session_btns{
cursor:  pointer;

}




/* NEW STYLES FOR BUTTONS FROM CODEPEN */

.btn {
	width: 220px;
	border: none;
	border-radius: 7px;
	font-family: 'Roboto Condensed', 'Roboto', Helvetica;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 12px;
	display: inline-block;
	margin: 5px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
	padding: 10px 15px 10px 40px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.12);
	border-right: solid 1px #999;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

/* Special Blue Buttons */
.btn-special {
	background: #cdd4dc;
	color: #3a557a;
	border:  solid 1px #3a557a;
}

.btn-special:hover {
	background: #aab9c9;
}

.btn-special:active {
	background: #cdd4dc;
	top: 2px;
}

.btn-special:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2.5;
	font-size: 100%;
	width: 40px;
}

/* Standard Green and Red Buttons */
.btn-standard {
	background: #d4d9ca;
	color: #576b30;
	border: solid 1px #576b30;
}

.btn-standard:hover {
	background: #acb894;
}

.btn-standard:active {
	background: #acb894;
	top: 2px;
}

.btn-standard:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2.0;
	font-size: 120%;
	width: 40px;
}

.btn-standard.is-active
{
	color: #9a3738;
	border:  solid 1px #9a3738;
	background: #e5cbcd;
}


/* Leave Courtroom */
.btn-admin {
	background: #34495e;
	color: #fff;
}

.btn-admin:hover {
	background: #2c3e50;
}

.btn-admin:active {
	background: #2c3e50;
	top: 2px;
}

.btn-admin:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2.5;
	font-size: 100%;
	width: 40px;
}

/* Leave Interpreter Session */
.btn2-admin {
	background: #34495e;
	color: #fff;
}

.btn2-admin:hover {
	background: #2c3e50;
}

.btn2-admin:active {
	background: #2c3e50;
	top: 2px;
}

.btn2-admin:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2.5;
	font-size: 100%;
	width: 40px;
}

/* Icons */

.iboutput-tog:before {
	content: "\f028";
}

.iboutput-tog.is-active:before {
	content: "\f6a9";
}

.ibcamera-tog:before {
  content: "\f03d";
  } 

  .ibcamera-tog.is-active:before {
  content: "\f4e2";
  }

  .obcamera-tog:before {
  content: "\f03d";
  } 

  .obcamera-tog.is-active:before {
  content: "\f4e2";
  }

  .ibmic-tog:before {
  content: "\f130";
  } 

  .ibmic-tog.is-active:before {
  content: "\f131";
  }
	
  .obmic-tog:before {
  content: "\f3c9";
  } 

  .obmic-tog.is-active:before {
  content: "\f539";
  }

 .iboutput-tog:before {
	content: "\f58f";
}

.iboutput-tog.is-active:before {
	content: "\f6a9";
}

  .oboutput-tog:before {
  	content: "\f028";
  } 

  .oboutput-tog.is-active:before {
  content: "\f6a9";
  }

  .ibfullscreen-tog:before {
  content: "\f065";
  } 

  .ibfullscreen-tog.is-active:before {
  content: "\f065";
  }

  .obfullscreen-tog:before {
  content: "\f065";
  } 

  .obfullscreen-tog.is-active:before {
  content: "\f065";
  }

  .ibdisconnect:before {
  content: "\f24e";
  } 

  .ibisconnect.is-active:before {
  content: "\f24e";
  }

  .obdisconnect:before {
  content: "\e552";
  } 

  .obdisconnect.is-active:before {
  content: "\e552";
  }




/*~~~~ INDEX PAGE STUFF ~~~~~~~~*/

.idxparent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 120px 1fr 120px;
grid-column-gap: 5px;
grid-row-gap: 5px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: "hidden";
}

.idxheader { grid-area: 1 / 1 / 2 / 4; }
.idxleft { grid-area: 2 / 1 / 3 / 2; }
.idxmain { grid-area: 2 / 2 / 3 / 3; }
.idxright { grid-area: 2 / 3 / 3 / 4; }
.idxfooter { grid-area: 3 / 1 / 4 / 4; }


.idxheader img {

	height: 50px; 
	padding-top: 20px;
}



.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      background-color: #3a557a;
}


.form-holder{
	border-radius: 15px;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 30px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

/*.form-content h3.form-title {
    margin-bottom: 30px;
}*/

.form-content h5{
  color: #FFF;
  padding-bottom: 0px;
  text-align: left;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 90%;
    padding: 10px 15px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 3px;
    margin-bottom: 5px;
}




.btn-primary{
    background-color: #6C757D;
    color: #FFF;
    outline: none;
    border: 0px;
    margin-top: 20px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}






/*


ORIGINAL VIDEO CONTROL BUTTONS




.btn-txt{
	padding-left: 10px;
	display: inline-block;
}
  
  .icon::before {
    display: inline-block;
     text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .playerbtn {
    cursor: pointer;
    height: 30px;
    font-size: 18px;
    min-width: 150px;
    max-width: 250px;
    background-color: transparent;
    border: none;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .playerbtn button{
    align-content: center;
  }

   .ibcamera-tog:before {
  font: var(--fa-font-solid);
  content: "\f03d";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .ibcamera-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f4e2";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .obcamera-tog:before {
  font: var(--fa-font-solid);
  content: "\f03d";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .obcamera-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f4e2";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .ibmic-tog:before {
  font: var(--fa-font-solid);
  content: "\f130";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .ibmic-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f131";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
	
  .obmic-tog:before {
  font: var(--fa-font-solid);
  content: "\f130";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .obmic-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f131";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

 .iboutput-tog:before {
  font: var(--fa-font-solid);
  content: "\f028";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .iboutput-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f6a9";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .oboutput-tog:before {
  font: var(--fa-font-solid);
  content: "\f028";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .oboutput-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f6a9";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .ibfullscreen-tog:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .ibfullscreen-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .obfullscreen-tog:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .obfullscreen-tog.is-active:before {
  font: var(--fa-font-solid);
  content: "\f065";
  color: #FFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }


  .ibdisconnect:before {
  font: var(--fa-font-solid);
  content: "\e552";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .ibisconnect.is-active:before {
  font: var(--fa-font-solid);
  content: "\e552";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .obdisconnect:before {
  font: var(--fa-font-solid);
  content: "\e552";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } 

  .obdisconnect.is-active:before {
  font: var(--fa-font-solid);
  content: "\e552";
  color: #ec6c70;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  } */

